* {
    font-family: arial, sans-serif;
    font-size:14px;
    color: #202124;
    text-decoration:none;
    box-sizing:border-box;
    margin-left: 0px;
}

body {
    font-family: arial, sans-serif;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 0.9em;
    margin-top: 0px;
    margin-right: 0px;
}



a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    color:#202124;
}

.menu {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-right: 10px;
}

.displaypicture {
    border-radius: 20px;
    padding: 1px;
}

.displaypicture:hover {
    box-shadow: 0 0 10px 0 rgb(95 99 104);
    cursor: pointer;
}

ul > a, ul > img {
    padding: 0 8px;
}

.menuicon {
    padding:5px;
}

.menuicon:hover {
    box-shadow: 0 0 10px 0 rgb(95 99 104);
    border-radius: 20px;
    cursor:pointer;
    fill: currentColor;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
}

.imagesearch {
    width: 25px;
    height: 25px;
}

.s-box {
    display: flex;
    justify-content: space-between;
    width: 544px;
    min-height: 44px;
    border: 1px solid gainsboro;
    border-radius: 20px;
    padding: 8px 5px 5px 8px;
}

.s-box:hover {
    box-shadow: 0 0 10px 0 rgb(95 99 104);

}

.s-box > input {
    flex-grow: 1;
    border: none;
    outline:none;
    text-align:left;
    padding:5px;
    font-size: 16px;
}

.magnify-icon {
    height: 20px;
    width: 20px;
    cursor: pointer;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.logo {
    margin: 30px;
}

.button-container {
    padding-top: 53px;
}

.s-btn {
    background-color:#F8F9FA;
    border-radius:5px;
    border:none;
    height: 36px;
    padding: 0 20px;
    margin: 0 5px;
}

.s-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 gainsboro;

}


.lang {
    margin-top: 50px;
    color: #4d5156;
    font-size: small;
}

.lang a  {
    color: #1a0dab;
    padding: 0 3px;
    font-size: small;
}

footer {
    display:flex;
    justify-content: flex-start;
    margin-top: 140px;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0;
    width: 100%;
    color:#70757a;
}

h4 {
    display: block;
    padding:1px 10px 10px 20px;
    margin:15px 0 0 0;
    color:#70757a;
    font-weight: normal;
    border-bottom: 1px solid #dadce0;
}

hr {
    color:#202124;
}

#footer-left {
    display:flex;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;

}

#footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px; 
}

ul#footer-left >a {
    color:#70757a;
}

ul#footer-right >a {
    color:#70757a;
}